<h1>Practica 10</h1>
<hr>
<h2>CUESTIONARIO</h2>

<div class="container">
  <div class="preg1">
     <fieldset>
        <legend>Pregunta</legend>

       <p>1.-A usted le gusta las peliculas de terror? </p>
    
       <div>
          <input 
           type="radio"
           id="faceptar"
           placeholder="aceptar"
           name="pregunta1"
           >  
            <label for="pregunta1" class="lbl" value="1">No Mucho</label>


          <input 
           type="radio"
           id="faceptar"
           placeholder="aceptar"
           name="pregunta1"
           >
            <label for="pregunta1" class="lbl" value="2">Aveces</label>


          <input 
           type="radio"
           id="faceptar"
          placeholder="aceptar"
           name="pregunta1"
           >
            <label for="pregunta1" class="lbl" value="3">Siempre</label>
       </div>
     </fieldset>
  </div>

  <div class="preg2">
    <fieldset>
      <legend>Pregunta</legend>

     <p>2.-Qué color de bolígrafo usa? </p>
  
     <div>
        <input 
         type="radio"
         id="faceptar"
         placeholder="aceptar"
         name="pregunta2"
         >  
          <label for="pregunta2" class="lbl" value="1">Rojo</label>


        <input 
         type="radio"
         id="faceptar"
         placeholder="aceptar"
         name="pregunta2"
         >
          <label for="pregunta2" class="lbl" value="2">Azul</label>


        <input 
         type="radio"
         id="faceptar"
        placeholder="aceptar"
         name="pregunta2"
         >
          <label for="pregunta2" class="lbl" value="3">Negro</label>


          <input 
          type="radio"
          id="faceptar"
         placeholder="aceptar"
          name="pregunta2"
          >
           <label for="pregunta2" class="lbl" value="4">Ninguno</label>

     </div>
   </fieldset>
  </div>


  <div class="preg3">
    <fieldset>
      <legend>Pregunta</legend>

     <p>3.-De que color es el caballo blanco de Napoleon? </p>
  
     <div>
        <input 
         type="radio"
         id="faceptar"
         placeholder="aceptar"
         name="pregunta3"
         >  
          <label for="pregunta3" class="lbl" value="1">Negro</label>


        <input 
         type="radio"
         id="faceptar"
         placeholder="aceptar"
         name="pregunta3"
         >
          <label for="pregunta3" class="lbl" value="2">Azul</label>


        <input 
         type="radio"
         id="faceptar"
        placeholder="aceptar"
         name="pregunta3"
         >
          <label for="pregunta3" class="lbl" value="3">Cafe</label>


          <input 
          type="radio"
          id="faceptar"
         placeholder="aceptar"
          name="pregunta3"
          >
           <label for="pregunta3" class="lbl" value="4">Blanco</label>

     </div>
   </fieldset>
  </div>


  <div class="preg4">
    <fieldset>
      <legend>Pregunta</legend>

     <p>4.-Que es mas pesado 1 kilo de plumas o 1 kilo de Oro? </p>
  
     <div>
        <input 
         type="radio"
         id="faceptar"
         placeholder="aceptar"
         name="pregunta4"
         >  
          <label for="pregunta4" class="lbl" value="1">1 kilo deplumas</label>


        <input 
         type="radio"
         id="faceptar"
         placeholder="aceptar"
         name="pregunta4"
         >
          <label for="pregunta4" class="lbl" value="2">1 kilo de oro</label>


        <input 
         type="radio"
         id="faceptar"
        placeholder="aceptar"
         name="pregunta4"
         >
          <label for="pregunta4" class="lbl" value="3">Ninguno</label>


          <input 
          type="radio"
          id="faceptar"
         placeholder="aceptar"
          name="pregunta4"
          >
           <label for="pregunta4" class="lbl" value="4">Son iguales</label>

     </div>
   </fieldset>
  </div>


  <div class="preg5">
    <fieldset>
      <legend>Pregunta</legend>

     <p>5.-Cuantos dedos tiene una gallina en su pat5? </p>
  
     <div>
        <input 
         type="radio"
         id="faceptar"
         placeholder="aceptar"
         name="pregunta5"
         >  
          <label for="pregunta5" class="lbl" value="1">3 dedos</label>


        <input 
         type="radio"
         id="faceptar"
         placeholder="aceptar"
         name="pregunta5"
         >
          <label for="pregunta5" class="lbl" value="2">2 dedos</label>


        <input 
         type="radio"
         id="faceptar"
        placeholder="aceptar"
         name="pregunta5"
         >
          <label for="pregunta5" class="lbl" value="3">4 dedos</label>
      </div>
   </fieldset>
  </div>

  <div class="boton">

    <label for="faceptar" class="lbl">Usted acepta que esta respondiendo con sinceridad las anteriores preguntas </label>

    <input 
      type="checkbox"
      id="faceptar"
      placeholder="aceptar"
      name="aceptar"
      [(ngModel)]= "cuestionario.aceptar"
      ngModel
      required
      #aceptar="ngModel"
      [class.is.invalid]= "aceptar.invalid && aceptar.touched"
      >
  </div>

  <small class="text-danger" *ngIf= "aceptar.invalid && aceptar.touched">
    Debe aceptar para poder guardar
  </small>

    

  <div class="linea-btn">
    <button type="submit" class="btn">Guardar</button>
  </div>

</div>